In [1]:
import pandas as pd

In [26]:
filmi = pd.read_csv('csv-datoteke/filmi.csv', index_col='id')
igralci = pd.read_csv('csv-datoteke/igralci.csv', index_col='id')
zanri = pd.read_csv('csv-datoteke/zanri.csv', index_col='id')
vloge = pd.read_csv('csv-datoteke/vloge.csv')
dolocitve_zanra = pd.read_csv('csv-datoteke/dolocitve_zanra.csv')

In [31]:
filmi.head()

                                     naslov  leto  ocena
id
103064           Terminator 2: Judgment Day  1991    8.5
120746                    The Mask of Zorro  1998    6.7
97576    Indiana Jones and the Last Crusade  1989    8.3
1646971          How to Train Your Dragon 2  2014    7.9
49833                  The Ten Commandments  1956    7.9

In [28]:
igralci.head()

                  ime
id
136797   Steve Carell
862026  Ingrid Thulin
375609  Brigitte Helm
1472           Jet Li
10736       Amy Adams

In [128]:
igralci.loc[1472]

ime    Jet Li
Name: 1472, dtype: object

In [36]:
filmi.iloc[100]

naslov    Children of Men
leto                 2006
ocena                 7.9
Name: 206634, dtype: object

In [96]:
filmi.ocena.max()

9.3000000000000007

In [88]:
filmi.loc[filmi.ocena.argmax()]

naslov    The Shawshank Redemption
leto                          1994
ocena                          9.3
Name: 111161, dtype: object

In [89]:
filmi.ocena.argmin()

92086

In [90]:
filmi.loc[filmi.ocena.argmin()]

naslov    &#xA1;Three Amigos!
leto                     1986
ocena                     6.4
Name: 92086, dtype: object

In [43]:
filmi[filmi.leto == 2015]

                               naslov  leto  ocena
id
3863552             Bajrangi Bhaijaan  2015    8.2
2488496  Star Wars: The Force Awakens  2015    8.5
1798684                      Southpaw  2015    7.5
2631186      Baahubali: The Beginning  2015    8.7
3460252             The Hateful Eight  2015    8.1
2096673                    Inside Out  2015    8.3
1392190            Mad Max: Fury Road  2015    8.2
3659388                   The Martian  2015    8.1
3848892                          Baby  2015    8.1
1398426        Straight Outta Compton  2015    8.1
1663202                  The Revenant  2015    8.3
3076658                         Creed  2015    8.1

In [54]:
filmi[(filmi.leto < 1950) & (filmi.ocena > 8)]

                                 naslov  leto  ocena
id
21749                       City Lights  1931    8.6
38355                     The Big Sleep  1946    8.1
15864                     The Gold Rush  1925    8.3
36775                  Double Indemnity  1944    8.4
25316             It Happened One Night  1934    8.2
22100                                 M  1931    8.4
17136                        Metropolis  1927    8.3
33870                The Maltese Falcon  1941    8.2
38787                         Notorious  1946    8.1
32976                           Rebecca  1940    8.2
33467                      Citizen Kane  1941    8.4
41959                     The Third Man  1949    8.3
37008                             Laura  1944    8.1
18455                           Sunrise  1927    8.4
32553                The Great Dictator  1940    8.5
31381                Gone with the Wind  1939    8.2
17925                       The General  1926    8.3
40897  The Treasure of the Sierra Madre  1948    8.3
32138                  The Wizard of Oz  1939    8.1
34583                        Casablanca  1942    8.6
32904            The Philadelphia Story  1940    8.1
10323       The Cabinet of Dr. Caligari  1920    8.1
27977                      Modern Times  1936    8.6
38650        It&#x27;s a Wonderful Life  1946    8.6
20629    All Quiet on the Western Front  1930    8.1
12349                           The Kid  1921    8.4
36868       The Best Years of Our Lives  1946    8.2

In [104]:
filmi.sort_values(by=['leto', 'ocena'], ascending=[False,True])

                                  naslov  leto  ocena
id
1798684                         Southpaw  2015    7.5
3460252                The Hateful Eight  2015    8.1
3659388                      The Martian  2015    8.1
3848892                             Baby  2015    8.1
1398426           Straight Outta Compton  2015    8.1
3076658                            Creed  2015    8.1
3863552                Bajrangi Bhaijaan  2015    8.2
1392190               Mad Max: Fury Road  2015    8.2
2096673                       Inside Out  2015    8.3
1663202                     The Revenant  2015    8.3
2488496     Star Wars: The Force Awakens  2015    8.5
2631186         Baahubali: The Beginning  2015    8.7
3416742        What We Do in the Shadows  2014    7.6
3169706                            Pride  2014    7.8
1490017                   The Lego Movie  2014    7.8
1646971       How to Train Your Dragon 2  2014    7.9
1631867                 Edge of Tomorrow  2014    7.9
2245084                       Big Hero 6  2014    7.9
2265171                       The Raid 2  2014    8.0
1877832       X-Men: Days of Future Past  2014    8.0
2278388         The Grand Budapest Hotel  2014    8.1
2015381          Guardians of the Galaxy  2014    8.1
2084970               The Imitation Game  2014    8.1
3011894                       Wild Tales  2014    8.2
2267998                        Gone Girl  2014    8.2
3390572                           Haider  2014    8.3
2338151                               PK  2014    8.3
3322420                            Queen  2014    8.4
2582802                         Whiplash  2014    8.5
816692                      Interstellar  2014    8.6
...                                  ...   ...    ...
32599                    His Girl Friday  1940    8.0
32904             The Philadelphia Story  1940    8.1
32976                            Rebecca  1940    8.2
32553                 The Great Dictator  1940    8.5
31971                         Stagecoach  1939    7.9
32138                   The Wizard of Oz  1939    8.1
31381                 Gone with the Wind  1939    8.2
29947                   Bringing Up Baby  1938    8.0
29843       The Adventures of Robin Hood  1938    8.0
30341                  The Lady Vanishes  1938    8.0
29583    Snow White and the Seven Dwarfs  1937    7.7
27977                       Modern Times  1936    8.6
26138              Bride of Frankenstein  1935    7.9
25316              It Happened One Night  1934    8.2
23969                          Duck Soup  1933    8.0
24216                          King Kong  1933    8.0
22913                             Freaks  1932    8.0
21814                            Dracula  1931    7.6
21884                       Frankenstein  1931    8.0
22100                                  M  1931    8.4
21749                        City Lights  1931    8.6
20629     All Quiet on the Western Front  1930    8.1
17136                         Metropolis  1927    8.3
18455                            Sunrise  1927    8.4
17925                        The General  1926    8.3
15648                Battleship Potemkin  1925    8.0
15864                      The Gold Rush  1925    8.3
13442                          Nosferatu  1922    8.0
12349                            The Kid  1921    8.4
10323        The Cabinet of Dr. Caligari  1920    8.1

[604 rows x 3 columns]

In [70]:
filmi_po_letih = filmi.groupby('leto')

In [76]:
filmi_po_letih.mean().head()

      ocena
leto
1920   8.10
1921   8.40
1922   8.00
1925   8.15
1926   8.30

In [107]:
filmi_po_desetletjih = filmi.groupby(10 * (filmi.leto // 10))

In [108]:
filmi_po_desetletjih.mean()

             leto     ocena
leto
1920  1924.125000  8.225000
1930  1934.722222  8.072222
1940  1943.523810  8.104762
1950  1955.025000  8.127500
1960  1964.558140  8.027907
1970  1974.695652  8.028261
1980  1984.800000  7.921538
1990  1994.877551  7.950000
2000  2004.651429  7.878286
2010  2012.633333  7.992222

In [138]:
igralci.ime.apply(lambda x: x.split(' ', 1))

id
136797              [Steve, Carell]
862026             [Ingrid, Thulin]
375609             [Brigitte, Helm]
1472                      [Jet, Li]
10736                  [Amy, Adams]
855417               [Akira, Terao]
160                  [Ethan, Hawke]
2401020             [Will, Poulter]
2299825                    [Ileana]
534856                   [Madhavan]
492249     [Konstantin, Lavronenko]
926209            [Steve, Whitmire]
2104            [Paulette, Goddard]
564215              [James, McAvoy]
347                    [Tim, Curry]
1082477                  [Omar, Sy]
681                 [Vince, Vaughn]
662            [Kiefer, Sutherland]
751426          [Rosalind, Russell]
304                  [Linda, Blair]
4778                [Adrien, Brody]
470981        [Thomas, Kretschmann]
1075                [Peter, Coyote]
329481          [Ginnifer, Goodwin]
5028                 [Kate, Hudson]
843                [Anne, Bancroft]
1077025               [In-mun, Kim]
125                 [Sean, Connery]
255                  [Ben, Affleck]
484737              [Inge, Landgut]
                     ...
1318596          [Jemaine, Clement]
564                [Peter, O'Toole]
628704             [Jinpachi, Nezu]
784038                 [Sener, Sen]
74                  [Gene, Tierney]
527002            [Federico, Luppi]
202966               [Keith, David]
1458             [Cloris, Leachman]
5831543       [Barkhad, Abdirahman]
749104              [BelÃ©n, Rueda]
635330           [Eduardo, Noriega]
1167              [Shelley, Duvall]
294600              [Leonard, Frey]
350454         [Maggie, Gyllenhaal]
516994         [Margaret, Lockwood]
479527              [Tyler, Labine]
543547        [Predrag, Manojlovic]
82517           [John, Billingsley]
58                [Maureen, O'Hara]
147605              [Carlo, Cecchi]
859             [Lionel, Barrymore]
2924645           [Ron, Ben-Yishai]
131                  [John, Cusack]
1602                  [Guy, Pearce]
942039                  [Fay, Wray]
494504                [Anne, Le Ny]
540441               [Jena, Malone]
784039          [Sermin, HÃ¼rmeric]
1027719            [Farhan, Akhtar]
3629863              [Lisa, Haydon]
Name: ime, dtype: object

In [149]:
dolocitve_zanra.join(filmi, on=['film']).groupby('zanr')['ocena'].mean().sort_values()

zanr
western      7.706154
sport        7.753846
music        7.791304
horror       7.875806
musical      7.905435
animation    8.009581
biography    8.012766
history      8.015556
romance      8.028191
family       8.038506
comedy       8.045247
fantasy      8.134783
adventure    8.154698
drama        8.154873
film_noir    8.180000
war          8.188525
action       8.191327
thriller     8.229333
sci_fi       8.240458
mystery      8.252308
crime        8.303704
Name: ocena, dtype: float64

In [163]:
vloge.join(filmi, on=['film']).groupby('igralec').mean().join(igralci).sort_values(by='ocena')

                   film         leto     ocena                   ime
igralec
1737       92086.000000  1986.000000  6.400000          Martin Short
2309517  1210819.000000  2013.000000  6.500000          Armie Hammer
4959      104231.000000  1992.000000  6.500000         Thomas Gibson
1209     1210819.000000  2013.000000  6.500000      William Fichtner
598       111756.000000  1994.000000  6.600000          Dennis Quaid
5154      184894.000000  2000.000000  6.600000              Lucy Liu
329       184894.000000  2000.000000  6.600000           Jackie Chan
1876      120746.000000  1998.000000  6.700000  Catherine Zeta-Jones
733196    317648.000000  2004.000000  6.700000     Zuleikha Robinson
662        96487.000000  1988.000000  6.800000     Kiefer Sutherland
389        96487.000000  1988.000000  6.800000        Emilio Estevez
1617       96487.000000  1988.000000  6.800000  Lou Diamond Phillips
218       692671.500000  2003.500000  6.850000  Kristin Scott Thomas
188       106498.000000  1992.500000  6.850000          Steve Martin
331        86286.500000  1983.000000  6.900000           Chevy Chase
5562      251056.500000  2003.000000  6.900000           Owen Wilson
342       166813.000000  2002.000000  7.000000        James Cromwell
836070    166813.000000  2002.000000  7.000000          Daniel Studi
1823      379217.000000  2003.000000  7.100000             Tom Waits
925234    332379.000000  2003.000000  7.100000            Mike White
85312     332379.000000  2003.000000  7.100000            Jack Black
1247       65421.000000  1970.000000  7.100000             Eva Gabor
104       115447.000000  1996.000000  7.150000      Antonio Banderas
1359       49492.000000  1955.500000  7.200000     Sterling Holloway
1372      317219.000000  2006.000000  7.200000           Bonnie Hunt
119       275847.000000  2002.000000  7.200000           Tia Carrere
4692      119164.000000  1997.000000  7.200000             Mark Addy
814862     57546.000000  1963.000000  7.200000       Rickie Sorensen
177        90022.000000  1985.000000  7.200000           Kevin Kline
811242   1981677.000000  2012.000000  7.200000         Brittany Snow
...                 ...          ...       ...                   ...
1659141  2631186.000000  2015.000000  8.700000               Prabhas
1121870  2375559.000000  2014.000000  8.700000           Mahesh Babu
1129884   317248.000000  2002.000000  8.700000       Leandro Firmino
875477     47478.000000  1954.000000  8.700000        Keiko Tsushima
476334    476735.000000  2005.000000  8.700000         Fikret Kuskan
849199    109117.000000  1994.000000  8.700000        Raveena Tandon
1179105   317248.000000  2002.000000  8.700000   Alexandre Rodrigues
2011932  2631186.000000  2015.000000  8.700000        Anushka Shetty
793766     47478.000000  1954.000000  8.700000       Takashi Shimura
206       133093.000000  1999.000000  8.700000          Keanu Reeves
77720      73486.000000  1975.000000  8.700000      Michael Berryman
704       169694.923077  2002.230769  8.700000           Elijah Wood
1812       59990.000000  1965.666667  8.700000         Lee Van Cleef
199        89732.454545  1982.272727  8.700000             Al Pacino
1570      127360.800000  1998.400000  8.720000         Edward Norton
8          65443.714286  1968.857143  8.742857         Marlon Brando
20         55696.200000  1961.400000  8.780000           Henry Fonda
352032   2199711.000000  2013.000000  8.800000          Kamal Haasan
1136881  2199711.000000  2013.000000  8.800000           Pooja Kumar
27215    2199711.000000  2013.000000  8.800000        Miles Anderson
641       109830.000000  1994.000000  8.800000           Gary Sinise
330687   1375666.000000  2010.000000  8.800000  Joseph Gordon-Levitt
680983   1375666.000000  2010.000000  8.800000            Ellen Page
842        50083.000000  1957.000000  8.900000         Martin Balsam
908919     60196.000000  1966.000000  8.900000           Eli Wallach
553       108052.000000  1993.000000  8.900000           Liam Neeson
5132      468569.000000  2008.000000  9.000000          Heath Ledger
1173      468569.000000  2008.000000  9.000000         Aaron Eckhart
1001       68646.000000  1972.000000  9.200000            James Caan
348409    111161.000000  1994.000000  9.300000            Bob Gunton

[1314 rows x 4 columns]